<header id="site-header" class="site-header">
  <div class="site-header__inner">
    <a id="site-logo-link" class="site-logo" href="{{homeUrl}}" aria-label="{{t:assets.logo.mainAlt}}">
      <img id="site-logo-image" class="site-logo__image" src="{{asset:logo.current.src}}" alt="{{t:assets.logo.mainAlt}}">
    </a>
    <nav id="site-navigation" class="site-navigation" aria-label="{{t:navigation.ariaLabel}}">
      {{navigation}}
    </nav>
    <div id="site-language-switcher" class="language-switcher">
      {{languageSwitcher}}
    </div>
  </div>
</header>
